.tick {
  line {
    stroke: #c0c0bb;
  }
  text {
    fill: #635f5d;
  }
}
.mark {
  fill: #00444c;
  cursor: pointer;
  &:hover {
    fill: #00717e;
  }
}
.toolTipContainer {
  border: 1px solid #c0c0bb;
  border-radius: 4px;
  background-color: #fff;
  padding: 8px;
  white-space: nowrap;
}
.toolTipText {
  font-size: small;
}
