.tick {
  line {
    stroke: #c0c0bb;
  }
  text {
    fill: #635f5d;
  }
}

.mark {
  fill: #688bab;
}
.axisLabel {
  font-size: large;
  fill: #635f5d;
}
.toolTipGroup {
}
.toolTipContainer {
  fill: #fff;
  stroke: #c0c0bb;
  rx: 3;
  transition: all 100ms ease;
}
.toolTip {
  font-size: small;
  transition: all 100ms ease;
}
